/* organization act as display boxmodel color and font
    blank each catergories
    written in mobile first!!!!
    The page is adaptive,with a breakpoint at 50rem
    Below that breakpoint,
    the cards will move from a horizontal layout to a vertical one
    resonsive

    semantic header main footer
        All pictures are loaded using pictures from http: //placehold.co/
        only this use url
        
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;


}

body {
    display: grid;
    grid-template-rows: auto auto auto auto;

    min-height: 100vh;
    min-height: 100dvh;

    background-color: #f0f0f0;
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-img {
    margin: 2rem;
}

.header-nav {
    width: 100%;

    background-color: #c6c6c6;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;

    padding: 1.5rem;

}

.menu a {
    color: rgb(244, 34, 34);

}

.menu a:hover {
    color: #007BFF;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "h2"
        "main-card"
    ;

}

h2 {
    grid-column: span 12;
    text-align: center;
    justify-content: space-evenly;

    margin: 2.5rem 0;

    color: blueviolet;
}


.main-card {

    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    border: 1px solid rgb(223, 223, 223);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
}

.card-img {
    width: 100%;
}

h3 {

    margin: 1rem;

    color: olive;
    text-align: center;

}

.main-card p {
    margin-top: auto;
    margin-bottom: 1rem;

    text-align: justify;
}

.card_more {
    padding: 1rem;
    padding: 1rem;
    width: 50%;
    margin-top: auto;
    border-radius: 1rem;

    background-color: rgb(74, 74, 228);

    text-align: center;
    color: #f0f0f0;

}

.card_more:hover {
    background-color: #3b0a0a;
    font-weight: bold;
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;

    width: 100%;

    background-color: #2f2e2e;
}

.footer-nav {
    grid-column: 5/9;

    text-align: center;

}

.footer-nav li {
    margin: 1rem;
}

.footer-nav a {
    color: #dcdcdc;
    font-size: 12px;
}

@media (min-width:50rem) {
    header {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "header-img h1"
            "header-nav header-nav";
        gap: 1rem;

    }

    .header-img {
        grid-area: header-img;

    }

    h1 {
        grid-area: h1;

    }

    .header-nav {
        grid-area: header-nav;

        width: 100%;

    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .main-card {
        grid-column: span 4;
    }

    .footer-nav {
        grid-column: span 12;
    }

    .footer-menu {
        display: flex;
        justify-content: space-evenly;
    }





}