.header-nav {
    display: grid;
    grid-template-columns: auto 0.2fr;
    border: 1px solid light-dark(rgba(106, 103, 103, 0.2), rgba(190, 190, 190, 0.2));
    box-shadow: 0 6px 12px light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
}

.nav-menu {
    display: flex;

    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;

}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    width: 100%;
    height: 100%;
}