#root {
  text-align: center;
  display: grid;
  grid-template-rows: 0.2fr auto 0.2fr;
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}



@media (prefers-reduced-motion: no-preference) {}