/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
#root {
  display: grid;
  grid-template-rows: auto auto auto;

  min-height: 100vh;
  min-height: 100dvh;
}

.message {
  text-align: center;
  color: red;
  font-weight: bold;
  border: 1px solid blueviolet;
  background-color: beige;
}

.other {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;

  background-color: #f9f9f9;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  width: 90px;
  height: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 0.1rem;
  background-color: burlywood;

}

.other-h2 {
  text-align: center;
}