.site-main {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 1.5rem;
}

.main-title {

    width: 70%;
    margin: 0 auto;
    margin-top: 1.5rem;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 1rem;

    background-color: #001f87;
    line-height: 2.5rem;
    color: #ff917e;
    text-align: center;
}

.main-top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
}

.main-bottom {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
}

.main-card-top {

    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    overflow: hidden;
}

.main-card-bottom {

    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    overflow: hidden;
}

.card-img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card_title {
    margin: 1rem;

    color: #ffffff;
    text-align: center;
}

.main-text {
    margin-bottom: auto;
    margin-top: 1rem;

    line-height: 1.5rem;
    text-align: justify;
}

.card_more {
    padding: 1rem;
    padding: 1rem;
    width: auto;
    margin-top: auto;
    border-radius: 1rem;

    background-color: #e74604;
    text-align: center;
    color: #f0f0f0;


}

.card_more:hover {
    background-color: #a20000;
    font-weight: bold;
}

.color-blue {
    background-color: #00b2ff;
}

.color-blue:hover {
    border: 1px solid rgb(250, 0, 0);
    background-color: #007BFF;
}

.color-darkgreen {
    background-color: #36706d;
}

.color-darkgreen:hover {
    border: 1px solid rgb(250, 0, 0);
    background-color: #3b8071;
}

.color-lightgreen {
    background-color: #47a8a4;
}

.color-lightgreen:hover {
    border: 1px solid rgb(250, 0, 0);
    background-color: #56c3ad;

}

.color-gray {
    background-color: #b9d5d3;
}

.color-gray:hover {
    border: 1px solid rgb(250, 0, 0);
    background-color: #a3e2d3;
}

.future-content {
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 8px;
    margin: 2rem 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.future-content h2 {
    color: #001f87;
    margin-bottom: 1rem;
}

.future-content p {
    margin-bottom: 1rem;
    color: #555;
}

@media (max-width:50rem) {
    .main-card-top {
        grid-column: span 12;
    }

    .main-card-bottom {
        grid-column: span 12;
    }
}